{% extends 'main/base.html' %}

{% block content %}
<div style="position: absolute; left: 400px; top: 150px;"> 

  {% block content_header %}
    
    <h2 style="color:white; font-family:Arial; text-align: center">Contact</h2>
    <p style="color:white; font-family:Arial; text-align: center">
      Any feedback or queries reach out to me via gmail: prith7777@gmail.com <br>
      It may take a few days to respond as it is not the active email I use.
    </p>
  {% endblock %}
</div>
{% endblock %}
